.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: fit-content;
  width: 100vw;
  background-color: var(--dark-primary);
  display: flex;
  align-items: center;
  gap: 16px;
  transform: translateY(calc(50% - 48px)) translateX(20px) rotate(90deg);
  transform-origin: left center;
  flex-direction: row;
  padding: 0 20px;
}

.navLink {
  color: var(--light-primary);
  padding: 12px 0;
  transition: 200ms;
}
.navLink:hover {
  color: var(--text-icons);
}
