:root {
  /* Colors */
  --dark-primary: #455a64;
  --light-primary: #cfd8dc;
  --primary: #607d8b;
  --text-icons: #ffffff;
  --accent: #536dfe;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;

  --page-gutter: 60px;

  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-text);
  background-color: var(--text-icons);

  scroll-behavior: smooth;
}

* {
  transition: 200ms;
}

::selection {
  background-color: #d0021b;
  color: var(--text-icons);
}

#root {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer !important;
  transition: 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

ul {
  list-style-type: none;
}

img {
  display: block;
}
